.tiles {
    box-sizing: content-box;
    flex-basis: 317px;
    max-width: 20%;
    padding: 10%;

    @media (min-width: 641px) {
        padding: 3%;
    }

    &__item {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        height: 100%;

        &__header {
            &__image {
                display: inline-flex;
                margin-bottom: 5%;

                &__icon {
                    width: 25%;
                    display: block;
                    height: auto;
                    max-width: 100%;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }

    &__description {
        text-align: center;

            &__name {
                clear: both;
                overflow-wrap: break-word;
                line-height: 34px;
                font-weight: 700;
                margin-top: 0;
                margin-bottom: 3%;
            }

            &__text {
                font-family: serif;
                font-size: 18px;
                line-height: 24px;
            }
        }
    }
}

@media screen and (max-width: 940px) {
    .tiles {
        flex-basis: 200px;
        max-width: 90%;
        padding: 3%;

        &__item {
            &__header {
                justify-content: center;
            }
        }
    }
}
