.nav {
	box-sizing: inherit;
    margin: 0 -1%;

    @media (max-width: 640px) {
    	margin-bottom: 6%;
    }

    &__ul {
    	box-sizing: inherit;
	    list-style: none;
	    display: flex;
	    flex-wrap: wrap;
	    justify-content: center;
	    align-items: center;
	    white-space: nowrap;
    }
}

.li {
    box-sizing: inherit;

    &__link {
    	display: flex;
	    color: #9ca9b3;
	    padding: 0 12px;
    }
}